@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&display=swap');

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  color: #282828;
  font-family: 'Noto Sans TC', sans-serif;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.2rem;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
  font-size: 1.2rem;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 130px auto;
  font-size: 0.9rem;
  padding: 0 4%;
}

.site-title {
  line-height: 1px;
  font-weight: 400;
  font-size: 2.6rem;
}

.site-title a {
  display: block;
  color: #282828;
}

.site-title a img.logo {
  width: 35px;
}

.section-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 65px;
}

/* Main  */
#main {
  margin-bottom: 100px;
}

#main img {
  width: 100%;
  max-width: 1920px;
  height: 400px;
  object-fit: cover;
}

/* About */
#about ul {
  margin-bottom: 30px;
}

#about ul li:first-child {
  margin-bottom: 30px;
}

/* Intro */
#intro ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

#intro ul li {
  width: 31%;
  margin-bottom: 23px;
}

#intro ul li img {
  cursor: pointer;
  transition: all 0.3s;
}

#intro ul li img:hover {
  transform: scale(1.2, 1.2);
  opacity: 0.7;
}

/* Header  */
#header {
  max-width: 960px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 170px;
  margin: 0 auto;
  padding: 0 4%;
}

#header ul {
  display: flex;
  padding: 10px 0;
  align-items: center;
}

#header li {
  font-size: 0.9rem;
  margin-left: 30px;
}

header li a {
  color: #282828;
  transition: all 0.3s;
}

#header li a:hover {
  opacity: 0.5;
}

#header li img.icon {
  width: 30px;
}

/* Mobile view */
@media screen and (max-width: 600px) {
  .site-title {
    margin-top: 20px;
  }
  
  /* Header*/
  #header {
    max-width: 100%;
    height: auto;
    flex-direction: column;
    margin-top: 20px;
    line-height: 40px;
  }

  #header li {
    font-size: 0.8rem;
    margin-left: 20px;
  }

  #header li:first-child {
    margin-left: 0;
  }

  #header li img.icon {
    width: 20px;
    margin-top: 15px;
  }

  /* Intro */
  #intro ul {
    flex-direction: column;
  }

  #intro ul li {
    width: 100%;
  }

}